.sidebar {
    width: 200px;
}

.sidebar2 {
    width: 250px;
}

@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        left: -200px;
        transition: all 0.3s ease-in-out;
    }
    .sidebar.open {
        left: 0; 
    }

    .sidebar2 {
        position: absolute;
        left: -250px;
        transition: all 0.3s ease-in-out; 
    }
}